#NetBeans

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Employees
Settings
Ranks
Status
Crew_*
DutyRoster1/Employees 
DutyRoster1/Rosters 
DutyRoster1/Ranks 
DutyRoster1/Settings 
DutyRoster1/Crew_* 
DutyRoster1/Status 
